* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Sen", sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "section section section"
    "tech tech tech"
    "footer footer footer";
}

.navigation-fixed {
  background-color: #fff;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation-fixed a {
  text-decoration: none;
  color: #0e76a8;
  font-size: 1.3em;
  padding: 0 20px;
}

.header {
  grid-area: header;
  min-height: 45em;
  width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0,
      rgba(0, 0, 0, 0.6) 75%,
      #000 100%
    ),
    url(./assets/lajunta-cochamo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin-top: 100px;
  padding: 20px;
}

.header__content-left img {
  height: 150px;
  width: 150px;
  border: 4px solid #fff;
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
  -moz-box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
  box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
}
.header__content-left {
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  margin: 30px 0;
}

.header__content-right {
  min-height: 45em;
  width: 100%;
  color: #fff;
  font-size: 1.1em;
  text-align: justify;
  margin-top: 20px;
}

.header__content-right span {
  font-weight: bolder;
  color: #fff;
  font-size: 1.4em;
}

.header__content-right a {
  margin: 20px 0;
  display: block;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}

.section {
  grid-area: section;
  background: #000;
}

.section-title {
  margin: 50px 20px;
  font-size: 1.4em;
  color: #fff;
  font-weight: bold;
}

.section__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.section__content-item {
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 1.2em;
  text-align: justify;
  transition: 0.5s;
}

.section__content-item a {
  display: block;
  text-align: end;
  margin: 20px;
  color: #0e76a8;
  font-weight: bold;
}

.section__content-item:hover {
  transform: scale(1.02);
  z-index: 90;
}

.section__content-image {
  height: 300px;
  width: auto;
  padding: 5px 0;
}

.section__content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tech {
  grid-area: tech;
  background: #000;
  padding-bottom: 50px;
}

.tech-title {
  margin: 50px 20px;
  font-size: 1.4em;
  color: #fff;
  font-weight: bold;
}

.tech__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 170px);
  gap: 20px;
  justify-content: center;
  margin: 20px;
}

.tech__content-item {
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  color: #0e76a8;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.5s;
}

.tech__content-item:hover {
  transform: scale(1.02);
  z-index: 90;
}

.tech__content-image {
  height: 150px;
  width: 150px;
  padding: 20px 0;
}

.tech__content-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  grid-area: footer;
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3) 0,
    rgba(0, 0, 0, 0.6) 75%,
    #000 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .header__content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 150px;
    padding: 50px;
  }
  .header__content-left img {
    height: 150px;
    width: 150px;
    border: 4px solid #fff;
    border-radius: 100%;
    -webkit-box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
    -moz-box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
    box-shadow: 5px 5px 20px 10px rgba(80, 80, 80, 1);
  }
  .header__content-left {
    width: 40%;
    color: #fff;
    font-size: 1.3em;
  }

  .header__content-right {
    min-height: 45em;
    width: 60%;
    color: #fff;
    font-size: 1.1em;
    text-align: justify;
    margin-top: 20px;
  }

  .section__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;
    justify-content: center;
  }

  .section-title {
    margin: 50px;
    font-size: 1.4em;
    color: #fff;
    font-weight: bold;
  }

  .tech-title {
    margin: 50px;
    font-size: 1.4em;
    color: #fff;
    font-weight: bold;
  }

  .tech__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 30px;
    justify-content: center;
  }

  .tech__content-image {
    height: 250px;
    width: 250px;
    padding: 20px 0;
  }

}
